@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: white;
  height: 100vh;
  resize: vertical;
  
}
  .container{
    max-width: 700px;
    width: 100%;
    background:#fff;
    padding: 25px 30px;
    border-radius: 5px;
    resize: vertical;
  }
  .container .title{
      font-size: 30px;
      font-weight: 500;
      
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid silver;
  }
  .container title::before{
      content: '';
      position: absolute;
      left:0;
      bottom: 0;
      height: 3px;
      width: 30px;
      
  }
  .container form .user-details{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);
  }
  .user-details .input-box .details{
    display: block;
    
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
      height: 45px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid #2691d9;
      padding-left: 15px;
      font-size: 20px;
      border-bottom-width: 2px;
      transition: all 0.3s ease;

  }
  
  .user-details .gender-title{
      font-size: 16px;
      font-weight: 500;
      position: relative;
      text-align: center;
      padding: 20px 0;
      
    
  }
  .user-details .gender-title::before{
    content: '';
      position: absolute;
      left:0;
      bottom: 0;
      height: 3px;
      width: 30px;
  }


  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
      border-color:#1b85fd; 
  }
  
  
 
 form .button{
   height: 45px;
 
 }
form .button input{
  height: 90%;
  width: 100%;
  outline: none;
  color:#fff;
  border: none;
  background: #2691d9;

  
}
form .button input:hover{
  background: #1900fff5;
}

#a{
  color: white;
}
.sidebar3 {
   margin: 0;
    padding: 0;
    width: 150px;
    background-color: black;
    position: absolute;
    height: 104vh;
    overflow: auto;
  
}

/* Sidebar links */
.sidebar3 a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar3 a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar3 a:hover:not(.active) {
  background-color: #04AA6D;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
  margin-top: 30px;
  border-color: black;
  margin-left: 1px;
  font-size: 50px;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  font-family: arial, sans-serif;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.title {
  border: 5px solid green;

   
}
.settle {

  height: 85vh;
  
  padding: 5px;
  border-radius: 5px;
}

.settle::-webkit-scrollbar {
  display: none;
}  

